/project/config.py

node_modules/

*.pyc
.DS_Store
*.psd

# virtualenv directories
env/
venv/
ENV/

# webassets
project/static/.webassets-cache/
project/static/bundle.js
project/static/bundle.css

# komodo project stuff
.komodotools
*.komodoproject
project/test.db