[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

argh = "==0.26.2"
bcrypt = "==3.1.1"
cffi = "==1.9.1"
coverage = "==3.7.1"
cssutils = "==1.0.2"
ecdsa = "==0.13"
fabric = "==1.10.1"
flask = "==0.10.1"
flask-assets = "==0.12"
flask-bcrypt = "==0.6.2"
flask-login = "==0.4.0"
flask-sqlalchemy = "==1.0"
flask-wtf = "==0.11"
gunicorn = "==19.3.0"
itsdangerous = "==0.23"
"jinja2" = "==2.7.2"
jsmin = "==2.2.2"
markupsafe = "==0.18"
nose = "==1.3.4"
paramiko = "==1.12.2"
pathtools = "==0.1.2"
pycparser = "==2.17"
pycrypto = "==2.6.1"
pyparsing = "==2.1.10"
python-bcrypt = "==0.3.1"
python-dateutil = "==2.6.0"
pyyaml = "==3.12"
requests = "==2.13.0"
sqlalchemy = "==0.9.9"
watchdog = "==0.8.3"
webassets = "==0.12.1"
werkzeug = "==0.10.1"
wtforms = "==1.0.5"
flask-jsglue = "*"


[dev-packages]
