<div id="form-row" class="row">
  <div id="venue-details-col" class="col-md-4">
    <h3>Venue Details</h3>
    
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="venue_name" placeholder="Church of St. Fish Fry">
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label">Address</label>
        <div class="col-sm-9">
          <div class="input-group">
            <input type="text" class="form-control" id="venue_address" title="Add an event" placeholder="10 Main St. Pittsburgh PA 15201">
            <span class="input-group-btn">
              <button id="venue_address_geocode" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></button>
            </span>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label">Coordinates</label>
        <div class="col-sm-9">
            <p class="well form-control" id="venue_address_geocoded"></p>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label">Type</label>
        <div class="col-sm-9">
          <select id="venue_type" class="form-control">
            <option></option>
            <option>Church</option>
            <option>Fire Department</option>
            <option>Community Organization</option>
            <option>Other</option>
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-sm-3 control-label">Notes about the facility</label>
        <div class="col-sm-9">
          <textarea class="form-control" id="venue_notes" placeholder="e.g., 'entrance is on the side'"></textarea>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="col-sm-3 control-label">Phone</label>
        <div class="col-sm-9">
          <input type="tel" class="form-control" id="venue_phone">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Website</label>
        <div class="col-sm-9">
          <input type="url" class="form-control" id="website">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">E-mail</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email">
        </div>
      </div>
      
    </form>
  </div>
  
  <div id="event-dt-col" class="col-md-4">
    <h3>Event Dates and Times</h3>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-12">
            <input id="event_dt" class="form-control" type="text" placeholder="Select the event date and time." name="daterange"/> <!--value="2017-03-03 17:00 - 2017-03-03 20:00" /-->
        </div>
      </div>
    </form>


    <!-- BEGIN DATE/TIME LIST (ITEMS INSERTED FROM TEMPLATE VIA SCRIPT) -->
    <form class="form-horizontal">
      <ul id="venue_dt" class="list-group">
        <!--li class="list-group-item" id="event_dt">
          <div class="form-group">
            <div class="input-group">
              <input disabled="disabled" type="text" class="form-control" value="03/03/2017 11:30 AM - 03/03/2017 2:00 PM">
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>
              </span>
            </div>
          </div>
        </li-->
      </ul>
    </form>
    <!-- END DATE/TIME LIST -->

   </div>

  <div id="event-details-col" class="col-md-4">
    <h3>Event Details</h3>
    <form class="form-horizontal">
      <div class="form-group">
          <label class="col-sm-6 control-label">Homemade Pierogies?</label>
          <div class="col-sm-6">
            <select id="homemade_pierogies" class="form-control">
              <option>Unsure / N/A</option>
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Alcohol Served?</label>
        <div class="col-sm-6">
          <select id="alcohol" class="form-control">
            <option>Unsure / N/A</option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Lunch Provided?</label>
        <div class="col-sm-6">
          <select id="lunch" class="form-control">
            <option>Unsure / N/A</option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Take-out available?</label>
        <div class="col-sm-6">
          <select id="take_out" class="form-control">
            <option>Unsure / N/A</option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-6 control-label">Handicap Accessible?</label>
        <div class="col-sm-6">
          <select id="handicap" class="form-control">
            <option>Unsure / N/A</option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
    </form>
    
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Menu</label>
        <div class="col-sm-9">
          <!--input type="text" class="form-control" id="venue_address" placeholder="e.g., a-la-carte; dinner is $7.95"-->
          <textarea class="form-control" id="menu" placeholder="e.g., a-la-carte; dinner is $7.95"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Notes about the event</label>
        <div class="col-sm-9">
          <textarea class="form-control" id="etc_notes" placeholder="e.g., ..."></textarea>
        </div>
      </div>
    </form>
    
  </div>
  
</div>

<div id="action-row" class="row">
  <div class="col-md-12">
    <hr>
    <button type="button" class="btn btn-primary btn-lg btn-block">Submit!</button>
    <br>
  </div>
</div>
