<!doctype html>

<head>
    <meta charset="utf-8">
    <title>Bard Microhydropower Calculator</title>

    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /meta -->

    <link href="{{ url_for('static', filename='css/bundle.core.css') }}" type="text/css" rel="stylesheet">
    <!-- Bootstrap -->
    <!-- <link href="{{ url_for('static', filename='libs/bootstrap/theme-bootstrap.min.css') }}" type="text/css" rel="stylesheet"> -->
    <!-- <link href="{{ url_for('static', filename='libs/bootstrap-toggle/bootstrap-toggle.min.css') }}" type="text/css" rel="stylesheet" /> -->
    <!-- <link href="{{ url_for('static', filename='libs/bootstrap-slider/bootstrap-slider.min.css') }}" type="text/css" rel="stylesheet" /> -->
    <!-- Font-Awesome -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- Leaflet -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" /> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css" /> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.9/dist/esri-leaflet-geocoder.css"> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css"> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css"> -->
    <!-- <link href="{{ url_for('static', filename='libs/leaflet-basemaps/L.Control.Basemaps.css') }}" type="text/css" rel="stylesheet" /> -->
    <!-- Application -->
    <!-- <link href="{{ url_for('static', filename='css/layout.main.css') }}" type="text/css" rel="stylesheet" /> -->
    <!-- <link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet" /> -->
    <!-- <link href="{{ url_for('static', filename='css/main.responsive.css') }}" type="text/css" rel="stylesheet" /> -->

    <!-- legacy browser support -->
    <script src="{{ url_for('static', filename='js/support/modernizr-2.8.2.min.js') }}"></script>
    <!--[if lt IE 9]><script src="{{ url_for('static', filename='js/support/respond-1.4.2.min.js') }}"></script><![endif]-->
    <!-- /legacy browser support -->

</head>

<body>

    {% include 'layout/nav.html' %} {% include 'pages/help.html' %}

    <div id="container">
        <!--SIDEBAR-->
        <div id="sidebar">
            <div class="sidebar-wrapper">

                <!--TABS-->
                <ul class="nav nav-tabs nav-justified" id="stepControl">
                    <li class="active">
                        <a id="tabStep0" href="#overview" data-toggle="tab">Overview</a>
                    </li>
                    <li>
                        <a id="tabStep1" href="#site" data-toggle="tab">1. Site</a>
                    </li>
                    <li>
                        <a id="tabStep2" href="#parameters" data-toggle="tab">2. Parameters</a>
                    </li>
                    <li>
                        <a id="tabStep3" href="#results" data-toggle="tab">3. Results</a>
                    </li>
                </ul>

                <!--TAB CONTENT-->
                <div class="tab-content" id="aboutTabsContent">

                    <div id="overview" class="tab-pane active in">
                        {% include 'pages/tab_start.html' %}
                    </div>

                    <div id="site" class="tab-pane">
                        {% include 'pages/tab_draw.html' %}
                    </div>

                    <div id="parameters" class="tab-pane">
                        {% include 'pages/tab_parameters.html' %}
                    </div>
                    <div id="results" class="tab-pane">
                        {% include 'pages/tab_results.html' %}
                    </div>

                </div>

            </div>
        </div>
        <!--MAP-->
        <div id="map"></div>
    </div>

    <!--APPLICATION SCRIPTS-->
    <script>
        // ArcGIS token passed from Flask to javascript (rendered by Jinja2)
        var tokens = JSON.parse('{{tokens | tojson}}');
        // console.log(tokens);
        // geodata served from Flask's static files directory
        var geodata = {
                "nysdams": "{{ url_for('static', filename='assets/data/nysdams.geojson') }}"
            }
            // console.log(geodata.nysdams);
    </script>
    {{ JSGlue.include() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.core.js') }}"></script>

</body>

</html>