<div class="row">
    <div class="col-sm-12">
        <h4>Estimate the power generation potential of a micro-hydroelectric turbine installation.</h4>
        <h4><small>This calculator will guide you through these steps:</small></h4>
        <ol>
            <li><strong>Site Sketch.</strong> Use the map to identify and sketch a potential micro-hydro location. The calculator will automatically generate an elevation profile, estimate head, and delineate the contributing area using available topographic
                data.
            </li>
            <li><strong>Parameters.</strong> Input calculation coefficients and other assumptions; sensible defaults are provided. Optionally, override the head and area estimates provided in step 1 as needed.</li>
            <li><strong>Results.</strong> View the analysis results.</li>
        </ol>
        <hr>
        <a id="btn-getStarted" class="btn btn-default btn-block btn-lg btn-goToDrawing" role="button" href="#site">Get Started <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>