<div class="row">
    <div class="col-sm-12">
        <h3>The Microhydropower Calculator helps estimate the power generation potential of a micro-hydroelectric turbine installation.</h3>
		<p style="color:black;font-weight:bolder">This calculator relies on map based information to generate estimates of electrical power potential. Default values are provided
            for all other items such as generator efficiency and the percentage of flow required to bypass the generator in order maintain
            ecosystem viability. It's important to understand that not 100% of the available water may pass through the generator,
            and that generators are not 100% efficient. You may manually enter any data elements to over-ride the default and map
            generated values. The calculator also asks you to make assumptions about current power rates to calculate potential revenue.
            <br><br>

            This calculator is not to be seen as a precise tool. It is only providing an indication and demonstration of the potential for
            micro-hydropowered electricity at any given location. You should discuss your long term energy strategy with a micro-hydropower
            design professional in order to create the best solution for you with regard to your individual circumstances.
            <br><br>

            Please note these calculators are a guide only and are not intended as a replacement for field measurements or surveys.
            Please verify the information obtained through these calculators independently. In compiling this information, NYSERDA
            and Bard College have utilized publicly available data.  NYSERDA and Bard College have endeavored to ensure that the
            supplied calculations and information are based on valid assumptions and approaches, but take no responsibility for any
            error or defect therein. NYSERDA and Bard College shall not be liable for any loss or damage arising from the use or
            reliance of any data supplied by these calculators.
            <br><br>
        </p>
        <p>This calculator will guide you through these steps:</p>
        <ol>
            <li>
                <strong>Site Identification.</strong> Use the map and available data layers to identify a spot suitable for a potential
                microhydropower installation. Diagram the location on the map, and the calculator will automatically estimate
                head (elevation change) and delineate the contributing area using available topographic data.
            </li>
            <li>
                <strong>Parameters.</strong> Input calculation coefficients and other assumptions used in the calculation (sensible
                defaults are provided). Optionally, override the head and area estimates derived from data in Step 1.</li>
            <li>
                <strong>Results.</strong> View the analysis results, including total kilowatt hours and estimated revenue generation.</li>
        </ol>
        <hr>
        <button id="btn-getStarted" class="btn btn-primary btn-block btn-lg btn-goToDrawing" type="submit">Get Started
            <i class="fa fa-arrow-circle-right"></i>
        </button>
    </div>
</div>
