<div class="row">
    <div class="col-sm-12">
        <h3>The Microhydropower Calculator helps estimate the power generation potential of a micro-hydroelectric turbine installation.</h3>
        <p>This calculator will guide you through these steps:</p>
        <ol>
            <li><strong>Site Identification.</strong> Use the map and available data layers to identify a spot suitable for a potential microhydropower installation. Diagram the location on the map, and the calculator will automatically estimate head (elevation
                change) and delineate the contributing area using available topographic data.
            </li>
            <li><strong>Parameters.</strong> Input calculation coefficients and other assumptions used in the calculation (sensible defaults are provided). Optionally, override the head and area estimates derived from data in Step 1.</li>
            <li><strong>Results.</strong> View the analysis results, including total kilowatt hours and estimated revenue generation.</li>
        </ol>
        <hr>
        <a id="btn-getStarted" class="btn btn-primary btn-block btn-lg btn-goToDrawing" role="button" href="#site">Get Started <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>