{% extends 'layouts/leaflet.html' %}
{% block title %}Hydro Power Calculator{% endblock %}
{% block content %}

	<!--div id="loading">
		<div class="loading-indicator">
			<div class="progress progress-striped active">
				<div class="progress-bar progress-bar-full"></div>
			</div>
		</div>
	</div-->
  
	<div class="modal" id="aboutModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title">Bard Micro-Hydropower Calculator</h3>
				</div>
				<div class="modal-body">
					<ul class="nav nav-tabs nav-justified" id="aboutTabs">
						<li class="active"><a href="#about" data-toggle="tab">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a>
						</li>
						<li><a href="#help" data-toggle="tab">
							<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help</a>
						</li>
						<li><a href="#methods" data-toggle="tab">
							<span class="glyphicon glyphicon-book" aria-hidden="true"></span> How It Works</a>
						</li>
	
					</ul>
					<div class="tab-content" id="aboutTabsContent">
						<div id="about" class="tab-pane active in">
							<p>About the project, terms of use, etc</p>
						</div>		
						<div id="help" class="tab-pane">
							<p>How to use the tool</p>
						</div>
						<div id="methods" class="tab-pane">
							<p>How the tools works</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
  

	<div id="container">
	  <div id="map"></div>
	</div>
  
	<!--UI-->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--D3-->
	<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<!--LEAFLET-->
	<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet-src.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
	<script src="{{ url_for('static', filename='libs/leaflet.control.custom/Leaflet.Control.Custom.js') }}"></script>
	<!--ESRI-LEAFLET-->
	<script src="https://unpkg.com/esri-leaflet@2.0.8"></script>
	<script src="https://unpkg.com/esri-leaflet-vector@1.0.3"></script>
	<script src="https://unpkg.com/esri-leaflet-gp@2.0.1"></script>

	<!-- ESRI-LEAFLET-WEBMAP-->
	<script src="https://leaflet.github.io/Leaflet.label/leaflet.label.js"></script>
	<script src="https://cdn.rawgit.com/Leaflet/Leaflet.heat/gh-pages/dist/leaflet-heat.js"></script>
	<script src="https://cdn.jsdelivr.net/leaflet.esri.heatmap-feature-layer/2.0.0-beta.1/esri-leaflet-heatmap-feature-layer.js"></script>
	 <script src="http://cdn.jsdelivr.net/leaflet.esri.renderers/2.0.2/esri-leaflet-renderers.js"></script>
	 <script src="https://muxlab.github.io/Leaflet.VectorIcon/L.VectorIcon.js"></script>
	 <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
	 <script src="https://cdn.jsdelivr.net/leaflet.esri.webmap/0.4.0/esri-leaflet-webmap.js"></script>
	 
	<!--APPLICATION-->
	<script>
		// ArcGIS token passed from Flask to javascript (rendered by Jinja2)
		var arcgis_token = {{ arcgis_token|tojson }};
		console.log(arcgis_token);
	</script>
	{% assets "bundle_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	<!--script type="text/javascript" src="/static/js/map.js" defer></script>
	<script type="text/javascript" src="/static/js/plugins.js" defer></script-->
{% endblock %}
