{% extends 'layouts/leaflet.html' %}
{% block title %}Hydro Power Calculator{% endblock %}
{% block content %}

	<!--div id="loading">
		<div class="progress">
		  <div class="progress-bar progress-bar-success" style="width: 40%">
			<span class="sr-only">35% Complete (success)</span>
			Watershed: Complete
		  </div>
		  <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 40%">
			<span class="sr-only">20% Complete (warning)</span>
			Elevation Profile: in progress
		  </div>
		  <div class="progress-bar progress-bar-warning" style="width: 20%">
			<span class="sr-only">10% Complete (danger)</span>
			Suitability: waiting
		  </div>
		</div>
	</div-->
  
	<div class="modal" id="aboutModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title">Bard Micro-Hydropower Calculator</h3>
				</div>
				<div class="modal-body">
					<ul class="nav nav-tabs nav-justified" id="aboutTabs">
						<li class="active"><a href="#about" data-toggle="tab">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a>
						</li>
						<li><a href="#help" data-toggle="tab">
							<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help</a>
						</li>
						<li><a href="#methods" data-toggle="tab">
							<span class="glyphicon glyphicon-book" aria-hidden="true"></span> How It Works</a>
						</li>
	
					</ul>
					<div class="tab-content" id="aboutTabsContent">
						<div id="about" class="tab-pane active in">
							<p>About the project, terms of use, etc</p>
						</div>		
						<div id="help" class="tab-pane">
							<p>How to use the tool</p>
						</div>
						<div id="methods" class="tab-pane">
							<p>How the tools works</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	
	<div class="modal" id="resultsModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title">Results</h3>
				</div><!-- /.modal-header -->
				<div class="modal-body">
					<!--<div class="row">-->
					<!--	<div class="col-sm-6">-->
					<!--		<h4>Analysis Parameters</h4>-->
					<!--		<div id="results-params" class="well">analysis parameters here</div>-->
					<!--	</div>-->
					<!--	<div class="col-sm-6">-->
					<!--		<h4>Estimated Power Potential</h4>-->
					<!--		<div id="results-output" class="well">estimated power here</div>-->
					<!--	</div>-->
					<!--</div>-->
					<!--<div class="row">-->
					<!--	<div class="col-sm-12">-->
					<!--		<h4>Elevation Profile</h4>-->
					<!--		<div class="well">>>> interactive elevation profile visualization here <<<</div>-->
					<!--	</div>-->
					<!--</div>-->
					<!--<div class="row">-->
					<!--	<div class="col-sm-12">-->
					<!--		<h4>Contributing Area </h4>-->
					<!--		<div class="well">>>> simple map of contributing area here <<<</div>-->
					<!--	</div>-->
					<!--</div>-->
				</div><!-- /.modal-body -->
				<div class="modal-footer">
					<div class="row">
						<div class="col-sm-9">
							<button id="analyze-from-params" class="btn btn-primary btn-block analyze" type="submit">Calculate</button>
						</div>
						<div class="col-sm-3">
							<button type="button" class="btn btn-default btn-block" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div id="container">
		<div id="sidebar">
			<div class="sidebar-wrapper">
				<ul class="nav nav-tabs nav-justified" id="stepControl">
					<li class="active"><a id="tabStep0" href="#step0" data-toggle="tab">Overview</a>
					</li>
					<li><a id="tabStep1" href="#step1" data-toggle="tab">1. Parameters</a>
					</li>
					<li><a id="tabStep2" href="#step2" data-toggle="tab">2. Results</a>
					</li>	
				</ul>
				<div class="tab-content" id="aboutTabsContent">
					<div id="step0" class="tab-pane active in">
						<div class="row">
							<div class="col-sm-12">										
								<p>Estimate the power generation potential of micro-hydroelectric turbine installations.</p>
								<ol>
									<li><strong>Parameters.</strong> Determine the Area and Head of the potential site using the map or entering it manually.  Input calculation coefficients and other assumptions used to make the estimate.</li>
									<li><strong>Results.</strong> Explore the analysis results.</li>
								</ol>
								<a id="btn-getStarted" class="btn btn-default btn-block btn-goToParams" role="button" href="#step1">Get Started <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<div id="step1" class="tab-pane">
						<div class="row">
							<div class="col-sm-12">
								<form class="form-horizontal">
								<!-- HEAD & AREA -->
								  <div class="row">
									<div class="col-sm-3">
										<h4>Head & Area</h4>
									</div>
									<div class="col-sm-9">
										<p class="small param-instructions">To begin, draw a line from a point downstream to a point upstream of where you would locate a micro-hydro installation.</p>
										<p class="small">Alternatively, specify Head or Area manually below; indicate with the switch whether you want to use the map or entered value for the calculation.</p>
									</div>									
								  </div>
								  <br>
								  
								  <div class="form-group">
									<label class="control-label col-sm-2" for="head-form-field">Head</label>
									<div class="col-sm-3">
										<input id="head-form-check" type="checkbox" data-on="Form&nbsp;" data-off="Map" class="params params-head" data-toggle="toggle">
									</div>
									<div class="col-sm-7">
										<div class="input-group">
										  <input disabled id="head-form-field" type="text" class="form-control params params-head optional-form" aria-describedby="head-form-units" placeholder="Required">
										  <span class="input-group-addon" id="head-form-units"><small>Meters</small></span>
										</div>
									</div>
								  </div>
								  
								  <div class="form-group">
									<label class="control-label col-sm-2" for="area-form-field">Area</label>
									<div class="col-sm-3">
										<input id="area-form-check" type="checkbox" data-on="Form&nbsp;" data-off="Map" class="params params-area" data-toggle="toggle">
									</div>			
									<div class="col-sm-7">
										<div class="input-group">
										  <input disabled id="area-form-field" type="text" class="form-control params params-area optional-form" aria-describedby="area-form-units" placeholder="Required">
										  <span class="input-group-addon" id="area-form-units"><small>Sq. Km.</small></span>
										</div>
									</div>
								  </div>
								  <hr>
								  <!-- CONSTANTS  -->
								  <div class="row">
									<div class="col-sm-3">
										<h4>Constants</h4>
									</div>
									<div class="col-sm-9">
										<p class="small param-instructions">Adjust the parameters below, or leave at provided defaults.</p>
									</div>									
								  </div>
								  
								  <div class="form-group">
									<label class="control-label col-sm-5" for="eff-form-field">Efficiency Constant</label>
									<div class="col-sm-7">
										<div class="input-group">
										  <input id="eff-form-field" type="text" class="form-control params" aria-describedby="eff-form-units" placeholder="default: 0.7" value=0.7>
										  <span class="input-group-addon" id="eff-form-units"><small>float</small></span>
										</div>
									</div>
								  </div>
								  
								  <div class="form-group">
									<label class="control-label col-sm-5" for="env-form-field">Environmental Flow Constant</label>
									<div class="col-sm-7">
										<div class="input-group">
										  <input id="env-form-field" type="text" class="form-control params" aria-describedby="env-form-units" placeholder="default: 0.3" value=0.3>
										  <span class="input-group-addon" id="eff-form-units"><small>float</small></span>
										</div>
									</div>
								  </div>
							
								  <div class="form-group">
									<label class="control-label col-sm-5" for="rate-form-field">Cost/KwH</label>
									<div class="col-sm-7">
										<div class="input-group">
										  <span class="input-group-addon" id="rate-form-units"><small>$</small></span>
										  <input id="rate-form-field" type="text" class="form-control params" aria-describedby="rate-form-units" placeholder="default: 0.10" value=0.10>
										</div>
									</div>
								  </div>								  
								</form>
							</div>
						</div>
						<hr>
						<!-- CALCULATE BUTTON -->
						<div class="row">
							<div class="col-sm-12">
								<span id="params-msg-status"></span>
								<button id="params-analyze-btn" class="btn btn-primary btn-block analyze-btn" type="submit">Calculate</button>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-12">
							</div>
						</div>
					</div>
					<div id="step2" class="tab-pane">
						<div class="row">
							<div class="col-sm-12">
								<h4>Location Overview + Contributing Area</h4>
								<div class="well">>>> simple diagrammatic map of microhydro location and contributing area here <<<</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<h4>Elevation Profile</h4>
								<div class="well">>>> interactive elevation profile visualization here <<<</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<h4>Analysis Parameters</h4>
								<div id="results-params" class="well">analysis parameters here<br>...<br>...<br>...<br>...<br>...</div>
							</div>
							<div class="col-sm-6">
								<h4>Estimated Power Potential</h4>
								<div id="results-power" class="well">estimated power here</div>
								<h4>Estimated Power Potential</h4>
								<div id="results-cost" class="well">estimated $$$ here</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-7">
								<button class="btn btn-primary btn-block btn-goToParams" type="submit">Adjust Parameters <i class="fa fa-cogs"></i></i></button>
							</div>
							<div class="col-sm-5">
								<button id="reset-btn" class="btn btn-default btn-block reset-btn" type="submit">Start Over <i class="fa fa-rotate-left"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	  <div id="map"></div>
	</div>
  
	<!--UI-->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='libs/bootstrap-toggle/bootstrap-toggle.min.js') }}"></script>
	<!--D3-->
	<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<!--LEAFLET-->
	<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet-src.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
	<script src="{{ url_for('static', filename='libs/leaflet.control.custom/Leaflet.Control.Custom.js') }}"></script>
	<!--<script src="{{ url_for('static', filename='libs/leaflet-sidebar-v2/L.Control.Sidebar.js') }}"></script>-->
	<!--ESRI-LEAFLET-->
	<script src="https://unpkg.com/esri-leaflet@2.0.8"></script>
	<script src="https://unpkg.com/esri-leaflet-vector@1.0.3"></script>
	<script src="https://unpkg.com/esri-leaflet-gp@2.0.1"></script>

	<!-- ESRI-LEAFLET-WEBMAP
	<script src="https://leaflet.github.io/Leaflet.label/leaflet.label.js"></script>
	<script src="https://cdn.rawgit.com/Leaflet/Leaflet.heat/gh-pages/dist/leaflet-heat.js"></script>
	<script src="https://cdn.jsdelivr.net/leaflet.esri.heatmap-feature-layer/2.0.0-beta.1/esri-leaflet-heatmap-feature-layer.js"></script>
	<script src="http://cdn.jsdelivr.net/leaflet.esri.renderers/2.0.2/esri-leaflet-renderers.js"></script>
	<script src="https://muxlab.github.io/Leaflet.VectorIcon/L.VectorIcon.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
	<script src="https://cdn.jsdelivr.net/leaflet.esri.webmap/0.4.0/esri-leaflet-webmap.js"></script>
	 -->
	 
	<!--APPLICATION-->
	{{ JSGlue.include() }}
	<script>
		// ArcGIS token passed from Flask to javascript (rendered by Jinja2)
		var arcgis_token = {{ arcgis_token|tojson }};
		console.log(arcgis_token);
	</script>
	{% assets "bundle_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
	<!--script type="text/javascript" src="/static/js/map.js" defer></script>
	<script type="text/javascript" src="/static/js/plugins.js" defer></script-->
{% endblock %}
