/**
 * @file
 * Main stylesheet file.
 */
/*@red : '#9f132f'
@footer-gray : '#333333'
@text-gray : '#282828'
@blue : '#1a7ad4'*/

/** -------------------------------------------------- 
 * Main elements
 */

html {
  overflow-y: scroll;
}

html, body {
  line-height: 1.5em;
  font-stretch: semi-expanded;
}

a {
  cursor: pointer;
}

::selection {
  background: #555;
  color: #FFF;
}

::-moz-selection {
  background: #555;
  color: #FFF;
}

::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */

/** -------------------------------------------------- 
 * bootstrap + leaflet
 */

html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 40px;
}

#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

/* SIDEBAR */

#sidebar {
  display: block;
  width: 50%;
  height: 100%;
  max-width: 100%;
  float: left;
  overflow: auto
}

.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5px 15px 15px 15px
}

#sidebar-hide-btn {
  margin-top: -2px;
}

#loading {
  position: absolute;
  width: 50%;
  height: 40px;
  top: 50%;
  left: 25%;
  transform: translateY(-50%); /* using the CSS3 Transform technique */
  /*margin: -10px 0 0 -110px;*/
  padding-top: 10px;
  margin-bottom: 10px;
  z-index: 20001;
}

#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#aboutTabsContent {
  padding-top: 10px;
}

.leaflet-control-layers {
  overflow: auto;
}

.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}

.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}

.navbar-collapse.in {
  overflow-y: hidden;
}

.navbar-header .navbar-icon-container {
  margin-right: 15px;
}

.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}

.navbar-header a.navbar-icon {
  margin-left: 25px;
}

.param-instructions {
  margin-top: 9px;
}
.alert-none {
  background-color: rgb(231, 231, 231);
  color: rgb(75, 75, 75);
}

.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.help-draw-icon {
    /*width: 26px;*/
    height: 16px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    line-height: inherit;
}

ol li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}