/**
 * @file
 * Main stylesheet file.
 */


/** -------------------------------------------------- 
 * Main elements
 */

html {
  overflow-y: scroll;
}

a {
  cursor: pointer;
}

::selection {
  background: #555;
  color: #FFF;
}

::-moz-selection {
  background: #555;
  color: #FFF;
}

::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */

/** -------------------------------------------------- 
 * Various other styles
 */

html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 40px;
}

#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}

#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#aboutTabsContent {
  padding-top: 10px;
}

.progress-bar-full {
  width: 100%;
}

.leaflet-control-layers {
  overflow: auto;
}

.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}

.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}

.navbar-collapse.in {
  overflow-y: hidden;
}

.navbar-header .navbar-icon-container {
  margin-right: 15px;
}

.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}

.navbar-header a.navbar-icon {
  margin-left: 25px;
}

.drawInfo {
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: right;
}

.drawInfo h4 {
  margin: 0 0 5px;
  color: #777;
  text-align: right;
}