    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('map') }}">
            <span>Micro-Hydropower Calculator</span>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="about-btn">
                 <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;About
              </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>