    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" id="about-btn">
            <span>Micro-Hydropower Calculator</span>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <li id="parameters-nav-button-item"><div><button id="nav-params-btn" class="btn btn-primary btn-block params-btn" type="submit">Parameters</button></div></li>
              <li id="analyze-nav-button-item"><div><button id="nav-analyze-btn" class="btn btn-primary btn-block analyze-btn" type="submit">Calculate</button></div></li>
              <li id="results-nav-button-item"><div><button id="nav-results-btn" class="btn btn-primary btn-block results-btn" type="submit">Results</button></div></li>
            </li>
          </ul>
          <!--ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="about-btn">
                 <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;About
              </a>
            </li>
          </ul-->
        </div><!--/.nav-collapse -->
      </div>
    </div>