<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">
                <span>Microhydropower Calculator</span>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="results-nav-button-item">
                    <div><button id="swipe-btn" class="btn btn-primary btn-block sidebar-toggle" type="submit"><i class="fa fa-arrows-h"></i></button></div>
                </li>
                <li class="dropdown">
                    <!--<li id="parameters-nav-button-item"><div><button id="nav-params-btn" class="btn btn-primary btn-block params-btn" type="submit">Parameters</button></div></li>
              <li id="analyze-nav-button-item"><div><button id="nav-analyze-btn" class="btn btn-primary btn-block analyze-btn" type="submit">Calculate</button></div></li>
              <li id="results-nav-button-item"><div><button id="nav-results-btn" class="btn btn-primary btn-block results-btn" type="submit">Results</button></div></li>-->
                    <li id="results-nav-button-item">
                        <div><button id="about-btn" class="btn btn-primary btn-block" type="submit"><i class="fa fa-info-circle"></i></button></div>
                    </li>
                </li>
            </ul>
        </div>
    </div>
</div>