<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">
                <span>Microhydropower Calculator</span>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button id="about-btn" class="btn btn-default navbar-btn" type="submit"><i class="fa fa-info-circle"></i></button>
                </li>
                <li>
                    <button id="swipe-btn" class="btn btn-default navbar-btn sidebar-toggle" type="submit"><i class="fa fa-arrows-h"></i></button>
                </li>
            </ul>
        </div>
    </div>
</div>