<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- Bootstrap -->
<link href="{{ url_for('static', filename='libs/bootstrap/theme-bootstrap.min.css') }}" type="text/css" rel="stylesheet" >
<!-- Leaflet (external)-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
<!-- Application -->
<link href="{{ url_for('static', filename='css/layout.main.css') }}" type="text/css" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/main.responsive.css') }}" type="text/css" rel="stylesheet"/>

<!-- legacy browser support -->
<script src="{{ url_for('static', filename='libs/modernizr/modernizr-2.8.2.min.js') }}"></script>
<!--[if lt IE 9]><script src="{{ url_for('static', filename='libs/respond/respond-1.4.2.min.js') }}"></script><![endif]-->
<!-- /legacy browser support -->

</head>
<body>

  <!-- Fixed navbar -->
  {% include 'nav/nav.html' %}
  
  {% block content %}{% endblock %}
  
  {% include 'etc/analytics.html' %}

</body>
</html>
